* {
  box-sizing: border-box;
}
.checked {
  color: orange;
}
body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}
a {
  text-decoration: none;
}
ul {
  padding-left: 10px;
}
li {
  padding-bottom: 0.5em;
}
.container {
  width: 900px;
  margin: 0 auto;
  padding-top: 5rem;
  padding-bottom: 1rem;
  color: #5f5d60;
  display: flex;
  justify-content: space-between;
}
.container h3 {
  padding: 0.25em 0.5em; /*上下 左右の余白*/
  color: #494949; /*文字色*/
  background: transparent; /*背景透明に*/
  border-left: solid 5px #7db4e6; /*左線*/
  font-weight: bolder;
  text-align: left;
}
.flex {
  width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: aliceblue;
}
header > h2,
p {
  text-align: left;
}
header {
  width: 100%;
  height: 70px;
  position: absolute;
  background: linear-gradient(rgba(35, 114, 130, 0.9), #7db4e6);
}
dt {
  font-weight: bolder;
  position: relative; /* important for absolute child to work */
  padding: 0 0 0.3em;
}
dd {
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 0.5rem;
}

dt::after {
  content: "";
  position: absolute;
  width: 130px;
  height: 1px;
  background: #000;
  bottom: 0;
  left: 0;
  right: 0;
}
#right {
  order: 2;
  width: 30%;
  margin-left: 10px;
  font-size: 12px;
}
#left {
  font-size: 14px;
  order: 1;
  width: 70%;
}
@media screen and (max-width: 980px) {
  header > h2,
  p {
    font-size: 14px;
  }
  .flex{
    width: 95%;
  }
  .container {
    width: 95%;
    flex-flow: column wrap-reverse;
    margin: 0 auto;
  }
  #right,
  #left {
    margin: 0 auto;
    width: 95%;
    font-size: 14px;
  }
  #left {
    order: 2;
  }
}
