* {
  box-sizing: border-box;
}
.checked {
  color: orange;
}
body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}
a {
  text-decoration: none;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}
.logo {
  color: white;
  font-size: 25px;
  margin: auto 0;
}
header {
  height: 40px;
  width: 100%;
  position: absolute;
  background: linear-gradient(rgba(35, 114, 130, 0.9), #7db4e6);
}

.header a {
  color: aliceblue;
}
.header {
  text-align: left;
  margin-left: 2em;
}
dt {
  font-weight: bolder;
  position: relative; /* important for absolute child to work */
  padding: 0 0 0.3em;
}
dd {
  margin-top: 5px;
  margin-bottom: 15px;
  margin-left: 10px;
}

dt::after {
  content: "";
  position: absolute;
  width: 130px;
  height: 1px;
  background: #000;
  bottom: 0;
  left: 0;
  right: 0;
}

.company {
  font-weight: bolder;
  font-size: larger;
}
.heading > h3 {
  padding: 0.25em 0.5em; /*上下 左右の余白*/
  color: #494949; /*文字色*/
  background: transparent; /*背景透明に*/
  border-left: solid 5px #7db4e6; /*左線*/
  font-weight: bolder;
}
.heading > h2 {
  border-bottom: solid 2px #7db4e6;
  font-weight: bolder;
}

p,
h2,
h3,
h4,
li {
  text-align: left;
}

.heading {
  padding-top: 35px;
  padding-bottom: 34px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: bolder;
}
@media all and (max-width: 750px) {
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 16px;
  }
  h1 {
    font-size: 20px;
  }
}
